.nome-do-site {
    background-color: orange ;
    padding: 50px;
    text-align: center;
    color: azure;
    font-family: Arial, sans-serif;
    font-size: 2vw;
    margin: 0%;

}
.nav-bar {
    background-color:rgb(243, 217, 161); 
    text-align: right;
    color: azure;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 0,5vw;
    padding: 20px;
    
}
#nav-bar {
    margin: 1%;
    text-decoration: none ;
    color: black;
    font-weight: bold
}
#nav-bar:hover {
    background-color: rgb(255, 255, 255);

}

.controle-de-estoque {
    background-color: indigo;
    padding: 20px;
    text-align: left;
    color: azure;
    font-family: Arial, sans-serif;
    font-size: 0,5vw;
    margin: 0%;
}

.itens-do-estoque {
    width: 100vw;
    height: 10vh;
    background-color: rgb(162, 83, 218);
    font-family: Arial, sans-serif;
    font-size: 0,5vw;
    color: azure;
}

.estoque {
    font-family: Arial, sans-serif;
    font-size: 0,5vw;
    text-align: center;
    font-weight: bold;
    
}

.rodapé {
    background-color: rgb(124, 121, 121) ;
    padding: 20px;
    text-align: left;
    color: azure;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1vw;
    margin: 0%;
    bottom: 0;
    width: 100vw;
}