.smallcard-container {
    display: flex;
    align-items: center;
    border : 1px solid black;
    padding: 20px 10px;
    margin-bottom:  10px;
    height: 100px;
    width: 500px;
}

.smallcard-container > img {
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-bottom: auto;
}

.smallcard-container p {
    margin-bottom: auto;
    margin-left: 10px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}